.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.food-item-info{
    padding: 20px;

}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}
.food-item-name-rating p{
    font-size: 18px;
    font-weight:500;
     display: -webkit-box;
  -webkit-line-clamp: 1;   /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    color: #676767;
    font-size: 12px;
 
}
.food-item-price{
    color: tomato;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}
/* -------------------- */
.price-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-button button{
   
   border: none;
    background-color: rgb(212, 247, 15);

    font-size: 13px;
    font-weight: 500;
    color: 49557e;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.price-button button:hover{
      background-color: rgb(197, 230, 15);
      transition: 0.3s;
      font-weight: 550;
}

.food-item-counter{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px;
    border-radius: 50px;
    padding-right: 10px;
    
}
.food-item-counter img{
    width: 26px;
}

@media (max-width:750px) {
    .food-item-name-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
    .food-item-name-rating p{
    font-size: 13px;
    font-weight:500;
    
}
    .food-item-name-rating img{
   display: none;
}
.food-item-desc{
    font-size: 10px;
}
.food-item-info{
    padding: 5px;
}
.food-item-price{
    font-size: 16px;
    font-weight: 500;
}
.price-button button{
    font-size: 12px;
    font-weight: 500;
    color: 49557e;
    padding: 5px 11px;
    border-radius: 20px;
    cursor: pointer;
}

}










