.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    background: #e0e0e0;
   
}
.sidebar-options{
    padding-top: 25px;
   
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.sidebar-option{
    display: flex;
    align-items: center;
    justify-content: center ;

    padding: 10px 8px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background: #e6f0fa;
    font-size: 20px;
      font-weight: bold;
      border: none;
      outline: none;
      cursor: pointer;
      color: #333;
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15),
                  -6px -6px 12px rgba(255, 255, 255, 0.9);
      transition: all 0.2s ease-in-out; 
}

.sidebar-option:active {
      box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.15),
                  inset -6px -6px 12px rgba(255, 255, 255, 0.9);
}

.sidebar-option p{
    margin-left: 10px;
    font-size: 20px;
}
.sidebar-option .names{
    font-size: 25px;
    display: flex;
    justify-content: centers;
}
.sidebar-option.active{
  background-color: aqua;
   

}
@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
    .sidebar-option .names{
        font-size: 20px;
    }
    .sidebar-option{
        padding: 8px 18px;
    }
}
@media (max-width:1200px) {
   
    .sidebar-option p{
        font-size: 12px;
    }
     .sidebar-option .names{
        font-size: 20px;
    }
    .sidebar-option{
        padding: 9px 18px;
        border-radius: 20px;
       
    }
    
}
